defaultText()
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    text-shadow: 0px 1px 0px white
    font-size: 16px
    color: black

body
    defaultText()
    background-color: white
    
h1
    text-align: center
    margin: 2px
       
h2
    text-align: center
    margin: 8px 0
    font-size: 14px
    color: black
    font-weight: bold
    color: black
    
.star
    margin:0
    padding:0
    margin-bottom: 2px

std_distance = 8px
    
defaultBorderRadius()
    border-radius: 4px
    
defaultBox()
    margin:  0
    padding: 0
    defaultBorderRadius()
    
darkBorder(alpha)
    border: 1px solid rgba(100, 100, 100, alpha)
    
whiteBorder(alpha)
    border: 1px solid rgba(255, 255, 255, alpha) 

.user-essence
    defaultBox()
    padding: std_distance
    margin-bottom: (std_distance * 2)
    // margin-top: (std_distance * 2)
    darkBorder(0.33)
    
.header
    defaultBox()
    height: 48px
    margin-bottom: std_distance
    // background-color:red

.name-box
    defaultBox()
    display: inline-block
    height: 48px;
    float: left
    background-color: rgba(255, 255, 255, 0.7)
    whiteBorder(0.75)

    
.avatar
    defaultBorderRadius()
    width:  48px
    height: 48px
    float:  right
    whiteBorder(0.2)
    
.name
    color: black
    font-size: 18px
    font-weight: bold
    margin: 13px 24px

.tweets
    defaultBox()
    text-align: left

    background-color: rgba(255, 255, 255, 0.25)
    whiteBorder(1)

tweet()
    position: relative
    padding: 8px 
    margin-bottom: 1px
    background-color: rgba(250, 250, 250, 0.95)
    color: black

.tweet
    tweet()

.last-tweet
    tweet()
    border-bottom: none
    margin-bottom: 0
    
.first-tweet
    tweet()
    border-top: none
       
a
    text-decoration: none
    color: black

.retweet-name
    font-weight: bold
    defaultText()
    font-size: 14px

.retweet-avatar
    border: 1px solid rgba(50, 50, 50, 1)
    float:left
    width:  16px
    height: 16px
    border-radius: 3px
    margin: 0 4px
    position: relative
    top:    2px
    

footerColor()
    color: #888

.warning
    background-color: #ffffe8
    border: 1px solid #fff4d8;
    text-align: center
    font-size: 13px
    padding: 16px
    margin: 32px
    border-radius: 4px
    
.footer
    margin: 2px
    text-align: center
    footerColor()
    margin-bottom: 16px
    line-height:16px
    font-size: 13px
    
    
.footer-a
    footerColor()
    
.thatsit
    text-align: center
    
.unsuscribe
    text-align: center
    
.feedback
    text-align: center

footer-btn()
    defaultBox()
    padding: 8px 12px
    margin: 0 4px
    line-height: 12px
    
    display: inline-block
    background-color: #DDD
    border: 1px solid #999
    color: black
    text-decoration: none

.footer-buttons
    text-align: center
    margin: 8px 0px

.footer-btn
    footer-btn()

.version
    margin:8px
    font-size: 10px
    color: #DDD
