body
    padding-top: 20px
    padding-bottom: 40px
    padding-left: 16px
    padding-right: 16px

.brand
    color: #999
    a
        color: #999
        &:hover 
            text-decoration: none
            color: #AAA

/* === user-index === */

#home-dashboard
    visibility: hidden
    
#disable,
#settings,
.dialog-btn
    margin: 16px;
    // background-color: red

#deactivate
    display: block
    font-size: 12px

#home-spinner
    position: relative
    margin-left: 50%
    top: 64px
    
#home-controls
    text-align: center
    // background-color: yellow
    
/* Custom container */
.container-narrow
    margin: 0 auto
    max-width: 700px

.container-narrow > hr
    margin: 30px 0


/* Index */

#login-failed
    overflow: hidden
    margin: 32px
    p
        text-align: left

#star
    width: 160px
    height: 160px

.jumbotron
    margin: 60px 0
    margin-top: 0px
    
    text-align: center

#title-container
    text-align: center
    
.jumbotron h1
    font-size: 48px
    line-height: 1
    max-width: 500px
    // background-color: red
    display: inline-block
    
.user-content
    h1
        margin: 40px 0 40px 0;
        text-align: center

    .user-section
        margin: 40px 0 40px 0;
        overflow: auto;
        width: 100%


#jumbo-signup-button
    position: relative;
    font-size: 21px
    padding: 14px 24px

    &:focus
        outline: 0;

    #signup-spinner
        &:focus
            outline: 0;
        position: absolute;
        margin-left: 50%;
        margin-top: 50%;

        top: 0px;
        left: 0px;

/* Supporting marketing content */
.marketing
    margin: 60px 0

.marketing p + h4
    margin-top: 28px

#white-bird
    margin-right: 8px
    margin-top: -4px
   
    width: 32px
    height: 27px
    
#user-menu
    min-width: 100%
    
#avatar
    // display: none
    width: 22px
    height: 22px

    margin-top: -20px
    margin-bottom: -20px
    margin-right: 8px

    padding: 0

#beta
    position: relative
    font-size: 9px;
    top: 2px;


.peopleTable
    position: relative
    padding 1px
    display: inline-block
    border-radius: 8px
    background-color: #fbfbfb
    width: 300px
    margin: 8px 24px;

.peopleTableHeader
    position: relative;
    padding-top: 8px
    padding-bottom: 16px
    height: 40px;

tableHeaderItem()
    position: absolute;
    display: none;
    width: 200px
    left: -100px;
    top: 0px;
    margin-left: 50%;
    text-align: center;

.peopleTableRows
    margin:0
    padding:0

    :nth-child(even)
        background-color: white

    overflow-x: hidden
    overflow-y: auto
    height: 200px
    // background-color: yellow

._row
    position: relative

    height: 48px
    text-align: center;

    img
        position: absolute
        top: 8px;
        left: 8px;
        width: 32px;
        height: 32px;
        border-radius: 4px

    .user-name
        background-color: transparent;
        position: absolute
        top: -4px;
        left: 48px;

    .user-screenname
        background-color: transparent;
        position: absolute
        font-size: 11px;
        top: 20px;
        left: 48px;

    button
        position: absolute
        top:   12px;
        right: 16px;


#friends-table
    #friends-table-header
        #search-header
            tableHeaderItem()
            top: 16px
            width: 260px
            left: -130px
            span
                position: relative
                top: 1px
            input
                margin-left: 16px
                width: 150px

        #loading-header
            tableHeaderItem()
            top: 8px

            #friends-progress
                margin-top: 8px
                height: 8px
                .bar
                    width: 0

        #error-header
            tableHeaderItem()
            display: none;
            top: 8px

        ._label
            margin-top: 2px


#vip-table
    .peopleTableHeader
        h4
            margin: 8px 0 0 0
            text-align: center

    .peopleTableRows
        #vip-placeholder
            position: relative;

            // background-color: red
            text-align: center
            margin-top: 10px
            margin-left: 50%
            left: -75px
            width: 150px
            height: 150px

#your-email
    input
        margin: 0
        margin-left: 4px
        width: 220px;
        
    button
        margin-left: 8px

#confirm-alert
    display: none
    margin: 24px

#email-check
    margin: 0
    margin-left: 6px
    padding: 0
    visibility: hidden

#done
    text-align: center
    