body
    margin:  0px;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00B7FF


#header
    background-color: lightgreen
    margin: 32px 0px

#content
    background-color: lightyellow
    margin: 32px 0px

#footer
    background-color: #EEE
    margin: 32px 0px