extends layout


block last-section
    include menu

block extra-script
    
block content
    .user-content
        h1 You caught us before we're ready
        center
            .alert.alert-info(style='max-width: 400px; text-align:left')
                h4 We are working hard to polish Essence. 
                p We took notice that you are intetested in upgrading your account and we will notify you when we are ready to process payments.
                
            | In the meantime, you can 
            a(href="/invite") invite friends
            |  to Essence to earn more VIPs.