extends layout


block last-section
    include menu

block extra-script
    script(src='/javascripts/ServiceAPI.js')
    script
        $('body').ready(
            function() {


            });

block content
    .user-content
        
        .user-section
        
            h2=user.name
                |, are you sure you want to delete your account?
            
            p All your data will be removed from Essence
            
            a.dialog-btn.btn.btn-large.pull-right(href='/') Cancel
            a.dialog-btn.btn.btn-large.btn-danger.pull-right(href='/delete-delete/' + user._id) Delete
     