extends layout

block extra-script
    script(src='/javascripts/ServiceAPI.js')
    script
        $('body').ready(
            function() {


            });

block last-section
    li.dropdown
        a.dropdown-toggle.muted(data-toggle="dropdown", href="#")
            img#avatar(src=user.profile_image_url_https)
            = user.screen_name
            &nbsp;
            b.caret.muted
        ul#user-menu.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li
                a(href="/") Home
            li
                a(href="/settings") Settings
            li.divider
            li
                a(href="/logout") Logout

block content
    .user-content
        
        .user-section
        
            h2=user.name
                |, are you sure you want to delete your account?
            
            p All your data will be removed from Essence
            
            a.dialog-btn.btn.btn-large.pull-right(href='/') Cancel
            a.dialog-btn.btn.btn-large.btn-danger.pull-right(href='/delete-delete/' + user._id) Delete
     