extends layout


block last-section
    include menu

block extra-script
    // script(src='/javascripts/ServiceAPI.js')
    script(src='/javascripts/feedback.js')
    script(src='/javascripts/spin.min.js')
    script
        $('body').ready(
            function() {
                SetupUI();
            });
    
block content
    .user-content
        h1 Do you like Essence?
        
        #feedback
            #vote
                #no-vote.btn.btn-large.btn-danger(onclick="NoButton()") Nope
                #yes-vote.btn.btn-large.btn-success(onclick="YesButton()") Yeah!
            
            form#vote-comment(method="post", action="/feedback/send")
                - if (!user)
                    label Your Email:
                    input(name="email", placeholder="email")
                
                h4 Anything more to say?
                p What can we do better? What do you like?
                input#vote-input(type="text", name="vote", value="none")
                textarea(name="comment")
                input.btn.btn-large.btn-primary(type="submit", onclick="formSubmit()", value="Send")
