extends layout

block extra-script
    script(src='/javascripts/ServiceAPI.js')
    script(src='/javascripts/index_user.js')
    script
        $('body').ready(
            function() {
                LoadFriends();
            });

block last-section
    li.dropdown
        a.dropdown-toggle.muted(data-toggle="dropdown", href="#")
            img#avatar(src=user.profile_image_url_https)
            = user.screen_name
            &nbsp;
            b.caret.muted
        ul#user-menu.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li
                a(href="/logout") Logout

block content
    .jumbotron
        h2 Pick your friends
        p.muted Select the people you would like to collect tweets from


        #friends-table
            #friends-table-header
                #search-header
                    span Name:
                    input#friend-search.input-medium.search-query(
                        type="text", 
                        placeholder="Search...")

                #loading-header
                    p._label Loading your friends...
                    #friends-progress.progress.active
                        .bar

                #error-header
                    p._label Oops... Twitter error!
                    a(onclick='LoadFriends()') Try again

            ._rows


        hr

        h2 Your email
        p.muted The email address where you would like to receive your Essence

    #content
        button(onclick='test()') test button

