extends layout

block content
    h1 Essence
    p Essence sends you an email once a day containing the tweets from the people you care the most
    div
        a(href='/login')
            img(src='https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png'
                alt='Sign in with Twitter')