extends layout

block head-extra
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/serviceAPI.js')
    script(src='/javascripts/index_user.js')

block content
    #header
        h1 Hi 
           span= user.name
           , welcome to Essence
        p Essence sends you an email once a day containing the tweets from the people you care the most
    

    #content
        button(onclick='test()') test button

    #footer
        a(href='/logout') logout
