extends layout


block last-section
    include menu

block extra-script
    script(src='/javascripts/invite.js')
    script
        $('body').ready(
            function() {
                SetupUI();
            });
    
block content
    .user-content
        h1 Invite your friends!
        .alert.alert-info 
            h4 One for one
            p For every friend who joins Essence you get to have 1 additional VIP in your account.
                br
                | You can also 
                a(href='/upgrade') upgrade
                |  your account to get more VIPs.
        
        #invite-options.row-fluid
            .span6
                h3 Invite by email
                label Enter email addresses here:
                textarea#email-textarea(type="text", spellcheck="false", autocomplete="off", placeholder="Add email addresses")
                br
                button.btn.btn-primary#send-email-btn(onclick="SendEmail()") Send Invites
                #inviteSentResult.alert.alert-success XXX invites sents

            .span6
                h3 Send a Tweet
                label Send a message to your followers
                a.btn.btn-primary(href="https://twitter.com/intent/tweet?text=I%20just%20discovered%20Essence,%20a%20service%20for%20Twitter%20that%20makes%20it%20easy%20to%20focus%20on%20people%20you%20care%20about%20the%20most%0A" + referalURL) Tweet Invite

        h3 Or give this link to friends
        pre#referalURL=referalURL
        
