extends layout


block last-section
    include menu

block extra-script
    script(src='/javascripts/invite.js')
    script
        $('body').ready(
            function() {
                SetupUI();
            });
    
block content
    .user-content
        h1 Invite your friends!
        .alert.alert-info 
            h4 One for one
            p For every friend who joins Essence you get to have 1 additional VIP in your account.
        
        #invite-options.row-fluid
            .span6
                h3 Invite by email
                label Enter email addresses here:
                textarea#email-textarea(type="text", spellcheck="false", autocomplete="off", placeholder="Add email addresses")
                br
                button.btn.btn-primary#send-email-btn(onclick="SendEmail()") Send Invites
                #inviteSentResult.alert.alert-success 3 invites sents

            .span6(style='visibility: hidden;')
                h3 Send a Tweet
                label Send a message to your followers
                a.btn.btn-primary(disabled='disabled') Tweet Invite

        h3 Or give this link to friends
        pre=referalURL
        
