doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        title= title

        meta(name='viewport',       content='width=device-width, initial-scale=1.0')
        meta(name='description',    content='')
        meta(name='author',         content='')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/underscore.min.js')
        script(src="/socket.io/socket.io.js")

        link(href='/bootstrap/css/bootstrap.min.css',   rel='stylesheet',   media='screen')
        link(href='/stylesheets/style.css',             rel='stylesheet')

        block extra-script

    body.container-narrow
        .masthead
            ul.nav.nav-pills.pull-right
                block others-section
                block last-section

            h3.brand
                a(href='/') Essence
                    span#beta &nbsp;&alpha;lpha
                
            hr
        
        block content

        hr
        
        .footer
            &copy; Bamb Production 2013

        
        #disconnectModal.modal.hide.fade
            .modal-header
                h3 Oops, cannot talk to Essence…
            .modal-body
                p We got disconnected from the Essence, you might try to reload the page
            .modal-footer
                a.btn(onClick="$('#disconnectModal').modal('hide')") Close
                a.btn.btn-primary(onClick="window.location.reload()") Reload Page
