extends layout


block last-section
    include menu

block extra-script
    script(src='/javascripts/ServiceAPI.js')
    script(src='/javascripts/preview.js')
    script(src='/javascripts/spin.min.js')
    script
        $('body').ready(
            function() {
                SetupUI();
            });

block content
    .user-content
        #preview-box
            h1 Loading preview...
            #home-spinner
            
        
        
            

        
        