extends layout


block last-section
    include menu

block extra-script
    script(src='/javascripts/ServiceAPI.js')
    script(src='/javascripts/settings.js')
    script
        $('body').ready(
            function() {
                SetupUI();
            });

block content
    .user-content
        h1 Settings

        // ---------
        //   EMAIL
        // ---------
        #your-email.user-section
            h3 1. What&rsquo;s your email?
            p.muted The email address where you would like to receive your Essence.
            input#email(type="text", placeholder="Email")
            button#save-email.btn.disabled(onclick='SaveEmail()') Save
            
            #confirm-alert.alert.alert-error.alert-block
                h4 Please confirm your email
                | We just sent you a message, please follow the steps to confirm that your email is correct.
                br
                | (You haven&apos;t received it? 
                a(onclick='SaveEmail()') We can send it again...
                | )

        // ---------
        // |  VIP  |
        // ---------
        #pick-friends.user-section
            h3 2. Who are your VIPs?
            p.muted Select the people you would like to collect tweets from
            
            #too-many.alert.alert-error
                // button.close(type='button', data-dismiss='alert') &times;
                h4 You can only have up to 10 VIPs
                p Essence is about focusing on the people you really care about. 
                iframe(width="100%", height="200", src="http://www.youtube.com/embed/oF2UrYSDb3k", frameborder="0", allowfullscreen)
                center 
                    em &ldquo;You must choose, but choose wisely.&rdquo;
                
            .row-fluid
            
                #friends-table.peopleTable.span6
                    #friends-table-header.peopleTableHeader
                        #search-header
                            span Search:
                            input#friend-search.input-medium.search-query(
                                type="text", 
                                placeholder="Name")

                        #loading-header
                            p._label Loading your friends...
                            #friends-progress.progress.active
                                .bar

                        #error-header
                            p._label Oops... Twitter error!
                                span#error-header-code
                            a(onclick='LoadTwitterFriends()') Try again

                    .peopleTableRows
                
                #vip-table.peopleTable.span6
                    .peopleTableHeader
                        h4 Your VIPs
                    .peopleTableRows
                        // #vip-placeholder.muted To add friends to your VIP list use the table on the left
                    
        // ---------
        //   Done
        // ---------
        #settings-endpage
            // a.btn.btn-large(href='/preview') Preview
            a.btn.btn-large(href='/') Done
