extends layout

block extra-script
    script(src='/javascripts/ServiceAPI.js')
    script(src='/javascripts/settings.js')
    script
        $('body').ready(
            function() {
                SetupUI();
            });

block last-section
    li.dropdown
        a.dropdown-toggle.muted(data-toggle="dropdown", href="#")
            img#avatar(src=user.profile_image_url_https)
            = user.screen_name
            &nbsp;
            b.caret.muted
        ul#user-menu.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li
                a(href="/") Home
            li
                a(href="/preview") Preview
            li.disabled
                a(href="/settings") Settings
            li.divider
            li
                a(href="/logout") Logout

block content
    .user-content
        h1 Settings

        #pick-friends.user-section
            h3 1. Who are your VIPs?
            p.muted Select the people you would like to collect tweets from

            #friends-table.peopleTable.pull-left
                #friends-table-header.peopleTableHeader
                    #search-header
                        span Name:
                        input#friend-search.input-medium.search-query(
                            type="text", 
                            placeholder="Search...")

                    #loading-header
                        p._label Loading your friends...
                        #friends-progress.progress.active
                            .bar

                    #error-header
                        p._label Oops... Twitter error!
                            span#error-header-code
                        a(onclick='LoadTwitterFriends()') Try again

                .peopleTableRows
            
            #vip-table.peopleTable.pull-right
                .peopleTableHeader
                    h4 Your VIP list
                    
                .peopleTableRows
                    // #vip-placeholder.muted To add friends to your VIP list use the table on the left
                    
            #your-email.user-section
                h3 2. What&rsquo;s your email?
                p.muted The email address where you would like to receive your Essence
                input#email(type="text", placeholder="Email")
                button#save-email.btn.disabled(onclick='SaveEmail()') Save
                
                #confirm-alert.alert.alert-error.alert-block
                    h4 Please confirm your email
                    | We just sent you a message, please follow the steps to confirm that your email is correct.
                    br
                    | (You haven&apos;t received it? 
                    a(onclick='SaveEmail()') We can send it again...
                    | )
            
            #settings-endpage
                a.btn.btn-large(href='/preview') Preview
                a.btn.btn-large(href='/') Done
