extends layout


block last-section
    include menu

block extra-script
    
block content
    .user-content
        h1 Account
        p.center You can have up to 
            span(style='font-weight: bold;')
                span= locals.maxVipCount
                |  VIPs
            | . 
            br
            | For 9.99$/year you can have up to 50 VIPs.
            br
            | You can also earn more VIPs for free by 
            a(href="/invite") inviting your friends
            | .
        br
        .alert.alert-info(style='overflow:auto;')
            .pull-left
                h4 $9.99&nbsp&nbsp(&nbsp
                   span(style='text-decoration: line-through;') &nbsp$14.99&nbsp
                   |&nbsp) 
                p Up to 50 VIPs for a year delivery of Essence, introductory price.
            .pull-right
                #buy-button
                    a.btn.btn-large.btn-primary.btn-success(href='/buy') Buy
        
