extends layout


block last-section
    include menu

block extra-script
    script(src='/javascripts/ServiceAPI.js')
    script(src='/javascripts/user-index.js')
    script(src='/javascripts/spin.min.js')
    script
        $('body').ready(
            function() {
                SetupUI();
            });

block content
    .user-content
        
        #home-spinner
        
        #home-dashboard
            h1#home-title Essence is up and running
            p#home-subtitle Your Essence will be delivered in the evening daily
            
            #home-controls
                a#enable.btn.btn-large.btn-primary(onclick='enable()')  Enable
                a#disable.btn.btn-large(onclick='disable()')            Disable
                
                a#settings.btn.btn-large(href='/settings') Settings...
                // a#deactivate(href='/deactivate') Delete your account
